<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>
    <title>Fiche d'un artiste</title>

    <style>
        .error {
            color: red;
        }
    </style>
</head>


<body>


<div class="container">
    <div layout:fragment="content">
        <form action="# " class="form" method="get" th:action="@{'/pay/'+ ${reservation.codeReservation}}"
              th:object="${reservation}">


            <div class="form-group">
                <strong><label for="nom">Nom</label></strong>

                <input class="form-control" id="nom" name="nom" readonly th:value="${reservation.user.nom}">

            </div>


            <div class="form-group">
                <strong><label for="prenom">Prenom</label></strong>

                <input class="form-control" id="prenom" name="prenom" readonly th:value="${reservation.user.prenom}">

            </div>
            <div class="form-group">
                <strong><label for="prix_total">Nombre des places:</label></strong>
                <input class="form-control" id="nbr_places" name="nbr_places" readonly
                       th:value="${reservation.nbr_places}">
            </div>
            <div class="form-group">
                <strong><label for="prix_total">Prix total: € </label></strong>
                <input class="form-control" id="prix_total" name="prix_total" readonly
                       th:value="${reservation.prixTotal}">
            </div>
            <div class="form-group">
                <strong><label for="date_achat">Date d'achat:</label></strong>
                <input class="form-control" id="date_achat" name="date_achat" readonly
                       th:value="${reservation.dateAchat}" type="text">

            </div>


            <table class="table">

                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th scope="row"></th>
                    <td th:text="${reservation.partie.eq1.pays}"></td>
                    <td></td>
                    <td th:text="${reservation.partie.eq2.pays}"></td>
                </tr>


                <tr>

                    <td>
                        <img class="picture" th:src="@{${reservation.partie.getPhotosImagePathEquipe1()}}"
                             width="100"></td>
                    <td></td>
                    <td>
                        <img class="picture" th:src="@{${reservation.partie.getPhotosImagePathEquipe2()}}"
                             width="100"></td>
                    <td>

                </tr>

                <tr>
                    <th scope="row">Stade</th>
                    <td></td>

                    <td align="center" class="col-sm text-muted" style="font-size: small;"
                        th:if="${reservation.partie.stade != null}"
                        valign="middle">
                        <div th:text="${reservation.partie.stade.nomStade}"></div>
                        <div th:if="${reservation.partie.stade.nomStade == null}">

                        </div>
                    </td>

                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Date Heure</th>
                    <td></td>
                    <td align="center" class="col-sm text-muted" style="font-size: small;"
                        th:text="${#temporals.format(reservation.partie.dateTime, 'dd/MM/yyyy HH:mm')}"
                        valign="middle"></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Arbitre</th>
                    <td></td>
                    <td align="center" class="col-sm text-muted" style="font-size: small;"
                        th:text="${reservation.partie.arbitre_principal}"
                        valign="middle"></td>
                    <td></td>
                </tr>

                <tr>
                    <th scope="row">Prix</th>
                    <td></td>
                    <td align="center" class="col-sm text-muted" style="font-size: small;"
                        th:if="${reservation.partie.prix != null}"
                        valign="middle">
                        <div th:text="${reservation.partie.prix}+ ' € ' "></div>
                        <div th:if="${reservation.partie.stade.nomStade == null}">


                        </div>
                    </td>

                    <td></td>
                </tr>


                <br/>

                <input class="btn btn-primary" type="submit" value="Valider"/><br/><br/>


                <nav><a th:href="@{/}">Annuler</a></nav>
                </tbody>
            </table>

        </form>

    </div>
</div>

</body>
