<!DOCTYPE html>
<html   lang="fr"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" type="text/javascript" th:href="@{/js/bootstrap.js}"/>
    <link href="../static/css/index/index/index.css" th:href="@{/css/index/index.css}" rel="stylesheet" />
    <title>Fiche d'un artiste</title>
    <!--colore errore messaggi-->
    <style>
        .error{
            color:red;
        }
    </style>
</head>


<body>


<div class="container">
    <div layout:fragment="content">
        <form action="# " th:action="@{'/v1/reservation/user/payement'}" th:object="${reservation}" method="post" class="form"> <!-- th:object ci serve per fare collegamento con il model -->

            -->

            <div class="form-group">
                <strong><label for="nom">User Name</label></strong>
                <!-- th field permette di recuperare il nome selezionato -->
                <input class="form-control" type="nom" th:field="*{user.nom}"  id="nom" placeholder="nom">
                <!-- place holder suggerimento allinterno del box -->
                <div class="alert alert-warning" th:if="${#fields.hasErrors('nom')}" th:errors="*{}" th:errorclass="error"></div>
            </div>

            <div class="form-group">
                <strong><label for="nom">User Name</label></strong>
                <!-- th field permette di recuperare il nome selezionato -->
                <input class="form-control" type="nom" th:field="*{user.prenom}"  id="prenom" placeholder="prenom">
                <!-- place holder suggerimento allinterno del box -->
                <div class="alert alert-warning" th:if="${#fields.hasErrors('nom')}" th:errors="*{}" th:errorclass="error"></div>
            </div>










            <!-- th:errorclass="error" serve per indicare lo style del errore, il colore che ho definito sopra -->
            <br/>

            <input class="btn btn-primary" type="submit" value="Submit" /><br/><br/>
            <!-- class="btn btn-primary" serve per il design del bottone -->


            <!-- <div><a th:href="@{/artists/{id}}">annuler</a></div> -->
            <nav><a th:href="@{/}">Annuler</a></nav>

        </form>

    </div>
</div>

</body>
