<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>

    <title>Header fragment</title>
</head>
<header th:insert="fragments/header.html :: nav"></header>
<body>


<div class="container">
    <div layout:fragment="content">
        <form action="#" class="form"
              method="post" th:action="@{'/reservationPartie/' + ${partie.idPartie}}" th:object="${reservations}">
            <div class="container">

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Équipe</th>
                        <td class="team-name" th:text="${partie.eq1.pays}"></td>
                        <td></td>
                        <td class="team-name" th:text="${partie.eq2.pays}"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <b class="result-cell" th:if="${partie.scoreEq1 != null}" th:text="${partie.scoreEq1}"></b>
                            <img height="32px" class="team-logo2" th:src="@{${partie.getPhotosImagePathEquipe1()}}"/>
                        </td>
                        <td></td>

                        <td>
                            <b class="result-cell" th:if="${partie.scoreEq2 != null}" th:text="${partie.scoreEq2}"></b>
                            <img height="32px" class="team-logo2" th:src="@{${partie.getPhotosImagePathEquipe2()}}"/>
                        </td>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Stade</th>
                        <td class="container text-center" colspan="3"
                            th:text="${partie.stade != null ? partie.stade.nomStade : 'Non spécifié'}"></td>
                    </tr>
                    <tr>
                        <th>Date et heure</th>
                        <td class="container text-center" colspan="3"
                            th:text="${partie.dateTime != null ? #temporals.format(partie.dateTime, 'dd/MM/yyyy HH:mm') : 'Non spécifié'}"></td>
                    </tr>
                    <tr>
                        <th>Arbitre</th>
                        <td class="container text-center" colspan="3"
                            th:text="${partie.arbitre_principal != null ? partie.arbitre_principal : 'Non spécifié'}"></td>
                    </tr>

                    <tr>
                        <th>Prix</th>
                        <td class="container text-center" colspan="3"
                            th:text="${partie.prix != null ? partie.prix + ' €' : 'Non spécifié'}"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="nbr_places"><strong>Nombre de places</strong></label>
                                <select class="custom-select" id="nbr_places" name="nbr_places"
                                        th:value="${nbr_places}">
                                    <option value="0">-- Sélectionnez le nombre de places --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>


                        <td>
                            <input class="btn btn-primary" type="submit" value="Valider"/><br/><br/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <nav><a th:href="@{${'/partie/'+ partie.idPartie}}">Annuler</a></nav>
                        </td>
                    </tr>

                    </tbody>
                </table>
        </form>
    </div>
</div>

</body>
</html>
