<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>

    <title>Header fragment</title>
</head>
<header th:insert="fragments/header.html :: nav"></header>
<body>


<div class="container">
    <div layout:fragment="content">
        <form action="#" class="form"
              method="post" th:action="@{'/reservationPartie/' + ${partie.idPartie}}" th:object="${reservations}">


            <table class="table">

                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th scope="row"></th>
                    <td th:text="${partie.eq1.pays}"></td>
                    <td></td>
                    <td th:text="${partie.eq2.pays}"></td>
                </tr>


                <tr>
                    <th scope="row"><a align="center" class="col-sm text-muted" style="font-size: small;"
                                       th:href="@{${'/joueur/' + partie.idPartie }}"
                                       valign="middle">Team
                        Composition </a></th>
                    <td>
                        <img class="picture" th:src="@{${'/display/' + partie.eq1.drapeau.id}}" width="100">
                    </td>
                    <td></td>
                    <td>
                        <img class="picture" th:src="@{${'/display/' + partie.eq2.drapeau.id}}" width="100">
                    </td>
                    <td>
                        <a align="center" class="col-sm text-muted" style="font-size: small;" th:href="@{${'/joueur/' + partie.idPartie }}"
                           valign="middle">Team Composition </a>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Stade</th>
                    <td></td>

                    <td align="center" class="col-sm text-muted" style="font-size: small;" th:if="${partie.stade != null}"
                        valign="middle">
                        <div th:text="${partie.stade.nomStade}"></div>
                        <div th:if="${partie.stade.nomStade == null}">

                        </div>
                    </td>

                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Date Heure</th>
                    <td></td>
                    <td align="center" class="col-sm text-muted" style="font-size: small;" th:text="${#temporals.format(partie.dateTime, 'dd/MM/yyyy HH:mm')}"
                        valign="middle"></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Arbitre</th>
                    <td></td>
                    <td align="center" class="col-sm text-muted" style="font-size: small;" th:text="${partie.arbitre_principal}"
                        valign="middle"></td>
                    <td></td>
                </tr>

                <tr>
                    <th scope="row">Price</th>
                    <td></td>
                    <td align="center" class="col-sm text-muted" style="font-size: small;" th:if="${partie.prix != null}"
                        valign="middle">
                        <div th:text="${partie.prix}"></div>
                        <div th:if="${partie.stade.nomStade == null}">


                        </div>
                    </td>

                    <td></td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control" id="nbr_places" name="nbr_places" th:value="${nbr_places}">
                            <option value="0">--Nombre des places--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="4">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </td>
                </tr>
                <tr>


                    <!-- altri campi del form -->

                    <td>
                        <input class="btn btn-primary" type="submit" value="Valider"/><br/><br/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

</body>
</html>
