<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" type="text/javascript" th:href="@{/js/bootstrap.js}"/>
    <link href="../static/css/index/index/index.css" th:href="@{/css/partie/matchPlayed.css}" rel="stylesheet" />

    <title>Match Played</title>
</head>


<header th:insert="fragments/header.html :: nav"></header>

<body>
<div class="container">
    <h1>Match Already Played</h1>
    <p>Reservations are not avaiable for this Match</p>
    <a href="/" th:href="@{/}">Home Page</a>
</div>
</body>
</html>

