<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>


    <title>Match detail </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>
</head>

<body>
<header th:insert="fragments/header.html :: nav"></header>

<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>
    <title>Fiche d'un artiste</title>
    <!--colore errore messaggi-->
    <style>
        .error {
            color: red;
        }
    </style>
</head>


<body>

<div class="container mt-5">
    <form action="#" class="form" method="post" th:action="@{'/createNextParties'}" th:object="${partie}">
        <div class="form-group">
            <label for="nomTour"><strong>Tour:</strong></label>
            <select class="form-control" id="nomTour" name="nomTour">
                <option value="QUARTS_DE_FINALE">Quarts de finale</option>
                <option value="DEMI_FINAL">Demi-finale</option>
                <option value="FINAL">Finale</option>
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">ENVOYER </button>
        </div>
    </form>
    <div class="text-center mt-3">
        <a class="btn btn-secondary" th:href="@{/}">Annuler</a>
    </div>
</div>

</body>
</html>