<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>


    <title>Match detail </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" type="text/javascript" th:href="@{/js/bootstrap.js}"/>
    <link href="../static/css/index/index/index.css" th:href="@{/css/index/index.css}" rel="stylesheet" />
</head>


<body>
<div class="container">
    <div layout:fragment="content">
        <form action="# " th:action="@{'/v1/partie/editResult/'+ ${partie.idPartie}}" th:object="${partie}" method="post" class="form"> <!-- th:object ci serve per fare collegamento con il model -->





            <div class="form-group">
                <strong><label for="scoreEq1">score Eq1</label></strong>


                <input class="form-control" type="number" th:field="*{scoreEq1}"  id="scoreEq1" th:value="${partie.scoreEq1}" required >


                <div class="alert alert-warning" th:if="${#fields.hasErrors('scoreEq1')}" th:errors="*{scoreEq1}" th:errorclass="error" ></div>
            </div>


            <div class="form-group">
                <strong><label for="scoreEq2">score Eq2</label></strong>

                <input class="form-control" type="number" th:field="*{scoreEq2}"  id="scoreEq2" th:value="${partie.scoreEq1}" required>

                <div class="alert alert-warning" th:if="${#fields.hasErrors('scoreEq2')}" th:errors="*{scoreEq2}" th:errorclass="error" ></div>
            </div>







            <!-- th:errorclass="error" serve per indicare lo style del errore, il colore che ho definito sopra -->
            <br/>

            <input class="btn btn-primary" type="submit" value="Submit" /><br/><br/>
            <!-- class="btn btn-primary" serve per il design del bottone -->


            <!-- <div><a th:href="@{/artists/{id}}">annuler</a></div> -->
            <nav><a th:href="@{/}">Annuler</a></nav>

        </form>

    </div>
</div>

</body>
</html>