<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout">
<head>


    <title>Match detail </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" type="text/javascript" th:href="@{/js/bootstrap.js}"/>
    <link href="../static/css/index/index/index.css" th:href="@{/css/index/index.css}" rel="stylesheet" />
</head>
<header th:insert="fragments/header.html :: nav"></header>


<table class="table"   >
<thead>


<tr>
    <th scope="col" th:text="${partie.eq1.pays +' Team '}"></th>
    <th scope="col"></th>
    <th scope="col" th:text="${partie.eq2.pays +' Team '}"></th>

</tr>
</thead>
    <tbody>
    <tr>
        <td>
            <ul>
                <li th:each="joueur : ${eq1Joueurs}" th:text="${joueur.nom + ' ' + joueur.prenom}"></li>
            </ul>
        </td>
        <td></td>
        <td>
            <ul>
                <li th:each="joueur : ${eq2Joueurs}" th:text="${joueur.nom + ' ' + joueur.prenom}"></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Staff</h5>
            <ul>
                <li th:each="staff : ${eq1Staff}" th:text="${staff.nom + ' ' + staff.prenom + ' (' + staff.fonction + ')'}"></li>
            </ul>
        </td>
        <td></td>
        <td>
            <h5>Staff</h5>
            <ul>
                <li th:each="staff : ${eq2Staff}" th:text="${staff.nom + ' ' + staff.prenom + ' (' + staff.fonction + ')'}"></li>
            </ul>
        </td>
    </tr>
    // scrivere cio nel onenote
   <a th:href="@{${'~/v1/partie/show/'+ partie.idPartie}}">Back </a>
    </tbody>
</table>

