<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" type="text/javascript" th:href="@{/js/bootstrap.js}"/>
    <link href="../static/css/index/index/index.css" th:href="@{/css/index/index.css}" rel="stylesheet" />

    <title>Header fragment</title>
</head>
<body>
<div>

    <table class="table table-equipe" th:unless="${#lists.isEmpty(parties)} ">
        <thead>
        <tr>
            <th scope="col" class="header-align-center">Calendrier des matchs</th>
            <th></th>
            <th></th>
            <th><a   th:href="@{'v1/partie/add'}" class="btn btn-primary">Add New Match</a></th>
        </tr>




        <!-- <div class="total">
             <div th:each="entry : ${partitePerTurno} ">

                         <li>
                             <h2 th:text="${entry.key.nomTour}"></h2> <
                             <ul>
                                 <li th:each="partie : ${entry.value}">
                                     <span th:text="${partie.eq1.pays}"></span> vs <span th:text="${partie.eq2.pays}"></span>
                                 </li>
                             </ul>
                         </li>
                     </ul>
             </div> -->



        <div class="total">
            <div th:each="partie: ${parties} ">
                <div>
                    <table  class="full-width-table"  aria-label="Elements">
                        <!-- Id Column -->

                        <th class ="mat-header-cell " scope="col" ></th>
                        <td class="mat-cell" >

                            <div class="container h-100">
                                <div class="row justify-content-center align-self-center">
                                    <img height="32px" th:src="@{${'v1/image/display/' + partie.eq1.drapeau.id}}">
                                </div>
                                <div class="row justify-content-center align-items-center">
                                    <p class="text-uppercase font-weight-bold">

                                    <div th:text="${partie.eq1.pays}">

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>






                        <td>
                            <div class="container h-100">
                                <div class="row justify-content-center align-items-center font-weight-bold">
                                    <div class ="col-sm">

                                        <div th:text="${partie.scoreEq1}"> </div>

                                    </div>
                                    <div class="col-sm">
                                        :
                                    </div>

                                    <div class="col-sm">
                                        <div th:text="${partie.scoreEq2}"></div>
                                    </div>
                                </div>




                                <div class="row justify-content-center align-items-center ">

                                    <div class="tour">
                                        <div  th:text="${partie.tour.nomTour}"></div>
                                    </div>




                                    <div class="tour ">
                                        <div class="col-sm text-muted" style="font-size: small;">
                                            <div th:text="${partie.stade.nomStade}"></div>
                                        </div>
                                    </div>

                                    <div class="tour">
                                        <div class="col-sm text-muted" style="font-size: small;">
                                            <div th:text="${partie.dateTime}"></div>
                                            <ul>

                                                <li> <a th:href="@{${'v1/partie/show/'+ partie.idPartie}}" >Detail</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>






                        <th></th>
                        <td mat-cell *matCellDef="let row">

                            <div class="container h-100">
                                <div class="row justify-content-center align-items-center">
                                    <img height="32px" th:src="@{${'v1/image/display/' + partie.eq2.drapeau.id}}">
                                </div>
                                <div class="row justify-content-center align-items-center">
                                    <p class="text-uppercase font-weight-bold">

                                    <div th:text="${partie.eq2.pays}">

                                        </p>
                                    </div>
                                </div>
                            </div>

                        </td>

                        </tbody>
