<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>


    <title>Match detail </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>
</head>

<body>
<header th:insert="fragments/header.html :: nav"></header>


<table class="table">

    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th scope="row"></th>
        <td th:text="${partie.eq1.pays}"></td>
        <td></td>
        <td th:text="${partie.eq2.pays}"></td>
    </tr>


    <tr>
        <th scope="row"><a align="center" class="col-sm text-muted" style="font-size: small;" th:href="@{${'/joueur/' + partie.idPartie }}"
                           valign="middle">Team Composition </a>
        </th>

        <td>
            <b th:if="${partie.scoreEq1!= null}" th:text="${partie.scoreEq1}"></b>
            <img class="picture" th:src="@{${'/display/' + partie.eq1.drapeau.id}}" width="100"></td>

        <td></td>

        <td>
            <b th:if="${partie.scoreEq2 != null }" th:text="${partie.scoreEq2}"></b>
            <img class="picture" th:src="@{${'/display/' + partie.eq2.drapeau.id}}" width="100"></td>

        <td>
            <a align="center" class="col-sm text-muted" style="font-size: small;" th:href="@{${'/joueur/' + partie.idPartie }}"
               valign="middle">Team Composition </a></td>

    </tr>

    <tr>
        <th scope="row">Stade</th>
        <td></td>

        <td align="center" class="col-sm text-muted" style="font-size: small;" th:if="${partie.stade != null}"
            valign="middle">
            <div th:text="${partie.stade.nomStade}"></div>
            <div th:if="${partie.stade.nomStade == null}">

            </div>
        </td>

        <td></td>
    </tr>
    <tr>
        <th scope="row">Date Heure</th>
        <td></td>
        <div>
            <td align="center" class="col-sm text-muted" style="font-size: small;" th:if="${partie.dateTime != null}"
                th:text="${#temporals.format(partie.dateTime, 'dd/MM/yyyy HH:mm')}" valign="middle">
                <p th:if="${partie.dateTime == null}">
                </p>
        </div>


        </td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">Arbitre</th>
        <td></td>
        <td align="center" class="col-sm text-muted" style="font-size: small;" th:text="${partie.arbitre_principal}"
            valign="middle"></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">Total Time</th>
        <td></td>
        <td align="center" class="col-sm text-muted" style="font-size: small;" th:text="${partie.totalTime}"
            valign="middle"></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">Prix</th>
        <td></td>
        <td align="center" class="col-sm text-muted" style="font-size: small;" th:if="${partie.prix != null}"
            valign="middle">
            <div th:if="${partie.prix != null}" th:text="${partie.prix}"></div>
            <div th:else>-</div>
        </td>
        </td>

        <td></td>
    </tr>
    <tr>
        <th scope="row"></th>
        <td align="center" class="col-sm text-muted" sec:authorize="hasRole('ROLE_ADMIN')" valign="middle">
            <a th:href="@{'/partie/edit/' + ${partie.idPartie}}">Modifier</a></td>


    </tr>
    <tr>
        <th scope="row"></th>
        <td align="center" class="col-sm text-muted" valign="middle">
            <a th:href="@{'/selectPlace/' + ${partie.idPartie}}"
               th:if="${#authorization.expression('isAuthenticated()')}">Reservation</a>
            <!-- redirection after the Log In into the selectPartie HTML -->
            <a th:href="@{'/login?redirect=/selectPlace/' + ${partie.idPartie}}"
               th:if="${!#authorization.expression('isAuthenticated()')}">Réservations</a>


    </tr>
    <tr>
        <th scope="row"></th>
        <td align="center" class="col-sm text-muted" valign="middle">
            <a th:href="@{'/editResult/' + ${partie.idPartie}}"
               th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Ajouter les résultats</a></td>


    </tr>
    <tr>
        <th scope="row"></th>

        <!-- il backslesh i use it to hide the ' caracthers -->
        <form class="form" method="post" th:action="@{'/delete/'+ ${partie.idPartie}}"
              th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <input name="_method" type="hidden" value="delete"/>
            <td align="center" class="col-sm text-muted" valign="middle">
                <button onclick="return confirm('Are you sure you want to delete this item?')" type="submit">Supprimer
                </button>
            </td>
        </form>


    </tr>
    </tbody>
</table>
</div>
<script> src = "https://code.jquery.com/jquery-3.6.1.js"</script>
</body>