<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>


    <title>Match detail </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" type="text/javascript" th:href="@{/js/bootstrap.js}"/>
    <link href="../static/css/index/index/index.css" th:href="@{/css/index/index.css}" rel="stylesheet" />
</head>

<body>
<header th:insert="fragments/header.html :: nav"></header>


<table class="table">

    <thead>
    <tr>
    <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th scope="row"></th>
        <td th:text="${partie.eq1.pays}"> </td>
        <td></td>
        <td th:text="${partie.eq2.pays}"></td>
    </tr>


    <tr>
        <th scope="row"><a valign="middle" align="center" class="col-sm text-muted" style="font-size: small;" th:href="@{${'/v1/partie/showJoueurByPartie/' + partie.idPartie }}">Team Composition </a></th>

        <td>
            <b th:if="${partie.scoreEq1!= null}" th:text="${partie.scoreEq1}"></b>
        <img class="picture" th:src="@{${'/v1/image/display/' + partie.eq1.drapeau.id}}" width="100"></td>

        <td></td>

        <td>
            <b th:if="${partie.scoreEq2 != null }" th:text="${partie.scoreEq2}"></b>
        <img class="picture" th:src="@{${'/v1/image/display/' + partie.eq2.drapeau.id}}" width="100"></td>

        <td>
            <a valign="middle" align="center" class="col-sm text-muted" style="font-size: small;" th:href="@{${'/v1/partie/showJoueurByPartie/' + partie.idPartie }}">Team Composition </a></td>

    </tr>

    <tr>
        <th scope="row" >Stadium</th>
        <td></td>

        <td valign="middle" align="center" class="col-sm text-muted" style="font-size: small;" th:if="${partie.stade != null}">
            <div th:text="${partie.stade.nomStade}"></div>
            <div th:if="${partie.stade.nomStade == null}">

            </div>
        </td>

        <td></td>
    </tr>
    <tr>
        <th scope="row" >Date Time</th>
        <td></td>
        <div>
        <td valign="middle" align="center" class="col-sm text-muted" style="font-size: small;" th:if="${partie.dateTime != null}"  th:text="${#temporals.format(partie.dateTime, 'dd/MM/yyyy HH:mm')}">
            <p th:if="${partie.dateTime == null}">
        </p></div>


        </td>
        <td></td>
    </tr>
    <tr>
        <th scope="row" >Arbitre</th>
        <td></td>
        <td valign="middle" align="center" class="col-sm text-muted" style="font-size: small;" th:text="${partie.arbitre_principal}"></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row" >Total Time</th>
        <td></td>
        <td valign="middle" align="center" class="col-sm text-muted" style="font-size: small;" th:text="${partie.totalTime}"></td>
        <td></td>
    </tr>
    <tr>
        <th scope="row" >Price</th>
        <td></td>
        <td valign="middle" align="center" class="col-sm text-muted" style="font-size: small;" th:if="${partie.prix != null}">
            <div th:if="${partie.prix != null}" th:text="${partie.prix}"></div>
            <div th:else>-</div>
        </td>
        </td>

        <td></td>
    </tr>
    <tr>
        <th scope="row" ></th>
        <td valign="middle" align="center" class="col-sm text-muted" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{'/v1/partie/edit/' + ${partie.idPartie}}">Edit</a></td>


    </tr>
    <tr>
        <th scope="row" ></th>
        <td valign="middle" align="center" class="col-sm text-muted" >
            <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{'/reservation/selectPartie/' + ${partie.idPartie}}">Reservation</a>
            <!-- redirection after the Log In into the selectPartie HTML -->
            <a th:if="${!#authorization.expression('isAuthenticated()')}"
               th:href="@{'/login?redirect=/reservation/selectPartie/' + ${partie.idPartie}}">Reservation</a>


    </tr>
    <tr>
        <th scope="row" ></th>
        <td valign="middle" align="center" class="col-sm text-muted" >
            <a th:href="@{'/v1/partie/editResult/' + ${partie.idPartie}}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Add Results</a></td>


    </tr>
    <tr>
        <th scope="row" ></th>

        <!-- il backslesh i use it to hide the ' caracthers -->
        <form th:action="@{'/v1/partie/delete/'+ ${partie.idPartie}}" method="post" class="form" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <input type="hidden" name="_method"  value="delete" />
            <td valign="middle" align="center" class="col-sm text-muted" >
                <button type="submit" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
            </td>
        </form>

        <!--<form th:id="|deleteForm-${partie.idPartie}|"
              th:action="@{'/delete/'+ ${partie.idPartie}}" th:method="delete">
            <td> <a href="#" th:onclick="|if(confirm('Confirm delete partie #${partie.idPartie} '))
        document.getElementById('deleteForm-${partie.idPartie}').submit();
        return false;|" >Delete</a>
            </td>
        </form>
        -->


    </tr>
    </tbody>
</table>
    </div>
        <script> src="https://code.jquery.com/jquery-3.6.1.js"</script>
</body>