<!DOCTYPE html>
<html>
<head>


    <title>Match detail </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>
</head>
<header th:insert="fragments/header.html :: nav"></header>


<table class="table">
    <thead>


    <tr>
        <th scope="col" th:text="${partie.eq1.pays +' Team '}"></th>
        <th scope="col"></th>
        <th scope="col" th:text="${partie.eq2.pays +' Team '}"></th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <ul>
                <li th:each="joueur : ${eq1Joueurs}" th:text="${joueur.nom + ' ' + joueur.prenom}"></li>
            </ul>
        </td>
        <td></td>
        <td>
            <ul>
                <li th:each="joueur : ${eq2Joueurs}" th:text="${joueur.nom + ' ' + joueur.prenom}"></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <h5>Staff</h5>
            <ul>
                <li th:each="staff : ${eq1Staff}"
                    th:text="${staff.nom + ' ' + staff.prenom + ' (' + staff.fonction + ')'}"></li>
            </ul>
        </td>
        <td></td>
        <td>
            <h5>Staff</h5>
            <ul>
                <li th:each="staff : ${eq2Staff}"
                    th:text="${staff.nom + ' ' + staff.prenom + ' (' + staff.fonction + ')'}"></li>
            </ul>
        </td>
    </tr>
    // scrivere cio nel onenote
    <a th:href="@{${'~/partie/'+ partie.idPartie}}">Back </a>
    </tbody>
</table>

