<!DOCTYPE html>
<html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log in</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div>
    <h2>Reset Your Password</h2>
</div>

<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}" />
    <div class="border border-secondary rounded p-3">
        <div>

            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Entrez votre nouveau mot de passe" required autofocus />

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirmez votre nouveau mot de passe"
                       required oninput="checkPasswordMatch(this);" />
            </div>
            <p class="text-center">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </p>


        <script >
            function checkPasswordMatch(fieldConfirmPassword) {
                if (fieldConfirmPassword.value != $("#password").val()) {
                    fieldConfirmPassword.setCustomValidity("Les mots de passe ne correspondent pas!");
                } else {
                    fieldConfirmPassword.setCustomValidity("");
                }
            }
        </script>
        </div>
    </div>
</form>

