<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <title>Match detail </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" type="text/javascript" th:href="@{/js/bootstrap.js}"/>
    <link href="../static/css/index/index/index.css" th:href="@{/css/index/index.css}" rel="stylesheet" />
</head>

<body>
<header th:insert="fragments/header.html :: nav"></header>


<!--<table class="table" th:unless="${#lists.isEmpty(groupe.equipe)}"> -->
<table class="table" th:unless="${#lists.isEmpty(equipes)}">

    <thead>
    <tr>
        <th scope="col" th:text="${groupe.nomGroupe}+ ' Groupe '">Groupe</th>
        <th scope="col"></th>

    </tr>
    </thead>

    <tbody>
    <tr th:each="equipe : ${groupe.equipe}">



                <td valign="middle"  th:text="${equipe.pays}"></td>
                <td valign="middle" align="center">
            <img th:src="@{${'v1/image/display/' + equipe.drapeau.id}}" width="100"></td>

       <!-- <td valign="middle"  th:text="${}"></td> -->




    </tr>
    </tbody>
</table>
</body>
</html>