<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" type="text/javascript" th:href="@{/js/bootstrap.js}"/>
    <link href="../static/css/index/index/index.css" th:href="@{/css/index/index.css}" rel="stylesheet" />

    <title>Header fragment</title>
</head>
<body>

<header th:insert="fragments/header.html :: nav"></header>




<table class="table table-equipe" th:unless="${#lists.isEmpty(equipes)} ">

    <thead>

    <tr>

        <th scope="col">#</th>
        <th  scope="col">Pays</th>
        <th><a  th:href="@{'/equipe/add'}"  class="btn btn-primary" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >Add New Equipe</a></th>


    </tr>

    </thead>

    <tbody>
    <tr th:each="equipe : ${equipes}">


        <td scope="row" th:text="${equipe.idEquipe}"></td>

        <td  valign="middle"  th:text="${equipe.pays}" >Equipe</td>
        <td valign="middle" align="center">
            <img  th:src="@{${'v1/image/display/' + equipe.drapeau.id}}" width="100"></td>
        <!-- delete form -->
        <td>
            <form  th:id="|deleteForm-${equipe.idEquipe}|"
                   th:action="@{'/equipe/delete/'+ ${equipe.idEquipe}}" th:method="delete">
                <!--delete form -->

                <a href="#"  th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:onclick="|if(confirm('Confirm delete equipe #${equipe.idEquipe}'))
                document.getElementById('deleteForm-${equipe.idEquipe}').submit();
                    return false;|">Delete</a> <!-- alert with javascript -->

            </form>
        </td>

    </tr>




    </tbody>

</table>



    <thead>
    <tr>
        <th scope="col" class="header-align-center">Calendrier des matches</th>
        <th></th>
        <th></th>
        <th><a   th:href="@{'v1/partie/add'}" class="btn btn-primary" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Add Matches</a></th>


    </tr>




    <!-- group matches by tour -->
    <style>

    </style>

    <div class="total">
        <div class="match">
        <div th:each="tour : ${tours}" class="tour-container">


            <div class="total">
                <div th:each="tour : ${tours}" class="tour-container">
                    <div class="tour-frame">
                        <h2 th:text="${tour.nomTour}"></h2>
                        <div th:each="partie: ${parties}">
                            <div th:if="${partie.tour.idTour == tour.idTour}" class="match-container">
                                <table class="full-width-table" aria-label="Elements">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Match</th>
                                        <th class="mat-header-cell" scope="col"></th>
                                        <th>Stadium</th>
                                        <th></th>
                                        <th>Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                <!-- Partie/Flags -->
                                <td class="mat-cell">
                                    <div class="container h-100">
                                        <div class="row justify-content-center align-self-center">
                                            <div class="team-container">
                                            <img height="32px" th:src="@{${'v1/image/display/' + partie.eq1.drapeau.id}}">
                                            </div>
                                        </div>
                                        <div class="row justify-content-center align-items-center">
                                            <p class="text-uppercase font-weight-bold" th:text="${partie.eq1.pays}"></p>
                                        </div>
                                    </div>
                                </td>

                                <!-- Results -->
                                <td>
                                    <div class="container h-100">
                                        <div th:if="${partie.scoreEq1} != null" class="row justify-content-center align-items-center font-weight-bold">
                                            <div class="col-sm">
                                                <div th:text="${partie.scoreEq1}"></div>
                                            </div>
                                            <div class="col-sm">
                                                :
                                            </div>
                                            <div class="col-sm">
                                                <div th:text="${partie.scoreEq2}"></div>

                                            </div>
                                        </div>
                                        <div class="row justify-content-center align-items-center font-weight-bold" th:unless="${partie.scoreEq1}!= null">
                                            <div class="col-sm">
                                                <p>Match to play</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <!-- Flags -->
                                <td class="mat-cell">
                                    <div class="container h-100">
                                        <div class="row justify-content-center align-items-center">
                                            <div class="team-container">
                                            <img height="32px" th:src="@{${'v1/image/display/' + partie.eq2.drapeau.id}}">
                                            </div>
                                        </div>
                                        <div class="row justify-content-center align-items-center">
                                            <p class="text-uppercase font-weight-bold" th:text="${partie.eq2.pays}"></p>
                                        </div>
                                    </div>
                                </td>


                                <!-- Stade -->
                                <td>



                                    <div th:if="${partie.stade != null}">
                                        <div th:text="${partie.stade.nomStade}"></div>
                                        <div th:if="${partie.stade.nomStade == null}">
                                            <p>To define</p>
                                        </div>
                                    </div>

                                </td>
                                <!-- Date -->
                                <br/>
                                <td>
                                    <div class="col-sm text-muted" style="font-size: small;">
                                        <div th:if="${partie.dateTime != null}" th:text="${#temporals.format(partie.dateTime, 'dd/MM/yyyy HH:mm')}"></div>
                                        <div th:if="${partie.dateTime == null}">
                                            <p>To define</p>
                                        </div>
                                        <ul>

                                            <li> <a th:href="@{${'v1/partie/show/'+ partie.idPartie}}" >Detail</a></li>
                                        </ul>

                                    </div>
                                </td>
                            </tr>


</tbody></table>
                    </div>
                </div></div></div></div></tbody></table></div></div></div></div></div>
</thead>

</div>
</tbody>
</table>







<script> src="https://code.jquery.com/jquery-3.6.1.js"</script>

</thead>


</table>
</body>




</html>
