<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Style pour les messages d'erreur -->
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<header th:insert="fragments/header.html :: nav"></header>

<div class="container mt-4">
    <div class="row">
        <h1 class="text-center">Liste des Équipes</h1>
        <div class="text-center mb-3" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <a class="btn btn-primary" th:href="@{'/equipe/add'}">Ajouter une nouvelle équipe</a>
        </div>
        <div th:each="equipe : ${equipes}" class="col-md-4">
            <div class="card mb-4">
                <img th:src="@{${equipe.getPhotosImagePath()}}" class="card-img-top team-logo" alt="Logo de l'équipe">
                <div class="card-body">
                    <h5 class="card-title" th:text="${equipe.pays}"></h5>
                    <a th:href="@{${'/equipe/'+ equipe.idEquipe}}" class="btn btn-light btn-details">Détails</a>

                    <!-- Formulaire de suppression -->
                    <!--delete form -->
                    <form th:action="@{'/equipeDelete/'+ ${equipe.idEquipe}}"
                          th:id="|deleteForm-${equipe.idEquipe}|" th:method="delete">


                        <a href="#" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:onclick="|if(confirm('Confirm delete equipe #${equipe.idEquipe}'))
                document.getElementById('deleteForm-${equipe.idEquipe}').submit();
                    return false;|" class="btn btn-light btn-delete">Delete</a> <!-- alert with javascript -->

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
</body>
</html>