<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>


    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>

    <title>Header fragment</title>
</head>

</head>
<body>
<!-- Creation navigation bar , i'm going to add boostrap code-->

<br>
<br>
<!-- Creation Form registration -->
<div class="container">
    <div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- succes message -->

                <div th:if="${param.success}">
                    <div class="alert alert-info">You are sucessfully registered</div>
                </div>


                <h1> Registration </h1>
                <form action="# " method="post" th:action="@{'/registration'}" th:object="${user}">
                    <div class="form-group">


                        <div class="form-group">
                            <label class="control-label" for="nom"> Nom </label> <input
                                autofocus="autofocus" class="form-control" id="nom"
                                required th:field="*{nom}"/>
                            <div class="alert alert-warning" th:errorclass="error" th:errors="*{nom}"
                                 th:if="${#fields.hasErrors('nom')}"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="prenom"> Prenom </label>
                            <input autofocus="autofocus" class="form-control" id="prenom"
                                   required th:field="*{prenom}"/>
                            <div class="alert alert-warning" th:errorclass="error"
                                 th:errors="*{prenom}" th:if="${#fields.hasErrors('prenom')}"></div>

                        </div>
                        <div class="form-group">
                            <label class="control-label" for="dateNaiss"> Date Naiss </label>
                            <input autofocus="autofocus" class="form-control" id="dateNaiss" required
                                   th:field="*{dateNaiss}" type="date"/>
                            <div class="alert alert-warning" th:errorclass="error"
                                 th:errors="*{dateNaiss}" th:if="${#fields.hasErrors('dateNaiss')}"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="email"> Email </label> <input
                                autofocus="autofocus" class="form-control" field="*{email}" id="email" name="email" required
                                type="email"/>
                            <div class="alert alert-warning" th:errorclass="error" th:errors="*{email}"
                                 th:if="${#fields.hasErrors('email')}"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="gsm"> GSM </label>
                            <input autofocus="autofocus" class="form-control" id="gsm" name="gsm"
                                   required th:field="*{gsm}" type="number"/>
                            <div class="alert alert-warning" th:errorclass="error" th:errors="*{gsm}"
                                 th:if="${#fields.hasErrors('gsm')}"></div>
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="username"> Username </label>
                            <input autofocus="autofocus" class="form-control" id="username"
                                   required th:field="*{username}"/>
                            <div class="alert alert-warning" th:errorclass="error"
                                 th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></div>

                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password"> Password </label> <input
                                autofocus="autofocus" class="form-control" id="password"
                                required th:field="*{password}" type="password"/>
                            <div class="alert alert-warning" th:errorclass="error"
                                 th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></div>
                        </div>


                        <div class="form-group">
                            <button class="btn btn-success" type="submit">S'inscrire</button>
                            <span>Already registered? <a href="/" th:href="@{/login}">Login
								ici</a></span>
                            <br/>

                            <a href="/" th:href="@{/}">Back to HomePage
                            </a></span>
                        </div>

                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>