<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment accepted</title>
</head>
<body>
<form action="# " th:action="@{'/sendTicket/'+${ticket.codeTicket}}" th:object="${ticket}" method="post" class="form">
<p>
<h2>Ticket details:</h2>
<b> Code Ticket : </b><div th:text="${ticket.codeTicket}"></div>
<b> Reservation ID :</b><div th:text="${ticket.reservation.codeReservation}"></div>

<h2>Payment details:</h2>
<b> Payment ID : </b> <div th:text="${paymentId}"></div>
<b> Payer ID : </b><div th:text="${payerId}"></div>
<b>Payment Method : PayPal</b><br/>
<b> Amount :  $ </b><div th:text="${amount}"></div>
<b> FirstName :  </b><div th:text="${ticket.reservation.user.prenom}"></div>
<b> LastName :   </b><div th:text="${ticket.reservation.user.nom}"></div>

<br/>
<br/>
<div class="form-group">
    <input class="btn btn-primary" type="submit" value="Send Ticket Email" />Send Ticket By Email<br/><br/>
    <a href="/" th:href="@{/}">Home Page</a></span>
</div>
</body>
</html>
