<!DOCTYPE html>
<html lang="fr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" th:href="@{/js/bootstrap.js}" type="text/javascript"/>
    <link href="../static/css/index/index/index.css" rel="stylesheet" th:href="@{/css/index/index.css}"/>
    <title>Fiche d'un artiste</title>
    <!--colore errore messaggi-->
    <style>
        .error {
            color: red;
        }
    </style>
</head>


<body>


<div class="container">

    <form class="form"  method="post"  th:action="@{'/equipe'}"   th:object="${equipe}" enctype="multipart/form-data">
        <!-- th:object ci serve per fare collegamento con il model -->
        <!-- <h1 th:text="|${artist.firstname} ${artist.lastname}|">ARMEN sulu</h1> -->
        <!--<div class="form-group">
            <strong> <label for="id">id</label></strong>
            <input class="form-control" type="number"  th:field="*{id}" id="id" placeholder="id">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
        </div>-->

        <div class="form-group">
            <strong> <label for="pays">Pays</label></strong>
            <input class="form-control" id="pays" placeholder="pays" th:field="*{pays}" type="text">
            <div class="alert alert-warning" th:errorclass="error" th:errors="*{pays}"
                 th:if="${#fields.hasErrors('pays')}"></div>
        </div>

        <div class="form-group">
            <strong><label for="nbr_points">Nbr Points</label></strong>
            <!-- th field permette di recuperare il nome selezionato -->
            <input class="form-control" id="nbr_points" placeholder="nbr_points" th:field="*{nbr_points}" type="text">
            <!-- place holder suggerimento allinterno del box -->
            <div class="alert alert-warning" th:errorclass="error" th:errors="*{nbr_points}"
                 th:if="${#fields.hasErrors('nbr_points')}"></div>
        </div>


        <div class="form-group">Drapeau</label></strong>
            <!-- th field permette di recuperare il nome selezionato -->
            <input class="form-control" id="drapeau" name="drapeau" placeholder="drapeau" th:field="*{drapeau}"
                   type="file"/>
            <!-- place holder suggerimento allinterno del box -->
            <div class="alert alert-warning" th:errorclass="error" th:errors="*{drapeau}"
                 th:if="${#fields.hasErrors('drapeau')}"></div>
        </div>


        <!-- th:errorclass="error" serve per indicare lo style del errore, il colore che ho definito sopra -->
        <br/>


        <input class="btn btn-primary" type="submit" value="Valider"/><br/><br/>

        <!-- class="btn btn-primary" serve per il design del bottone -->


        <!-- <div><a th:href="@{/artists/{id}}">annuler</a></div> -->
        <nav><a th:href="@{/}">Annuler</a></nav>

    </form>

</div>
</div>

</body>
</html>
