<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli della Squadra</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!-- Altri stili personalizzati -->
    <link href="../static/css/equipe/detail.css" rel="stylesheet" th:href="@{/css/details.css}">
</head>
<body>

<header th:insert="fragments/header.html :: nav"></header>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img class="d-block mx-auto mb-4" th:src="@{${equipe.getPhotosImagePath()}}" width="150">
        </div>
        <div class="col-md-8">
            <h2 class="mb-3">Détails de l'équipe : <span th:text="${equipe.pays}"></span></h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Joueurs</th>
                    <th>Blessures</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="joueur : ${joueurs}">
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span th:text="${joueur.nom}"></span> <span th:text="${joueur.prenom}"></span>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item" th:if="${joueur.blessure}">
                                <span th:text="oui"></span>
                            </li>
                        </ul>
                    </td>

                </tr>
                </tbody>
            </table>

            <h3>Staff</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Rôle</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="staff : ${equipe.staff}">
                    <td th:text="${staff.prenom}"></td>
                    <td th:text="${staff.nom}"></td>
                    <td th:text="${staff.fonction}"></td>
                </tr>
                </tbody>
            </table>

            <a class="btn btn-primary mt-3" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
               th:href="@{${'/addJoueur/'+ equipe.idEquipe}}">Ajouter joueurs</a>
            <a class="btn btn-primary mt-3" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
               th:href="@{${'/addStaff/'+ equipe.idEquipe}}">Ajouter Staff</a>
        </div>
        <div align="left">
            <a class="home-link" th:href="@{/}">Page d'accueil</a>
        </div>

    </div>

</div>


</body>
</html>