<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"


      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/js/bootstrap.js" rel="stylesheet" type="text/javascript" th:href="@{/js/bootstrap.js}"/>
    <link href="../static/css/index/index/index.css" th:href="@{/css/ticket/ticketDetail.css}" rel="stylesheet" />
    <title>Payment accepted</title>
</head>
<body>




    <div class="container" th:each="ticket : ${tickets}">
        <div class="ticket" >
            <div class="ticket-header">
                <h2>Ticket Details</h2>
            </div>
            <div class="container" >
            <div class="ticket-content">

                <p>
                    <span class="ticket-label">Code Ticket:</span>
                    <span class="ticket-value" th:text="${ticket.codeTicket}"></span>
                </p>
                <p>
                    <span class="ticket-label">Reservation ID:</span>
                    <span class="ticket-value" th:text="${ticket.reservation.codeReservation}"></span>
                </p>
                <h2>Payment Details</h2>
                <p>
                    <span class="ticket-label">Payment ID:</span>
                    <span class="ticket-value" th:text="${paymentId}"></span>
                </p>
                <p>
                    <span class="ticket-label">Payer ID:</span>
                    <span class="ticket-value" th:text="${payerId}"></span>
                </p>
                <p>
                    <span class="ticket-label">Payment Method:</span>
                    <span class="ticket-value">PayPal</span>
                </p>
                <p>
                    <span class="ticket-label">Number of Ticket : </span>
                    <span class="ticket-value" th:text="${ticket.reservation.nbr_places}"></span>
                </p>
                <p>
                    <span class="ticket-label">Amount:</span>
                    <span class="ticket-value" th:text="${ticket.reservation.partie.prix}"></span>
                </p>
                <table>
                <tbody>
                <tr>
                    <th scope="row"></th>
                    <td th:text="${ticket.reservation.partie.eq1.pays}"> </td>
                    <td></td>
                    <td th:text="${ticket.reservation.partie.eq2.pays}"></td>
                </tr>


                <tr>

                    <td>
                        <img class="picture" th:src="@{${'/v1/image/display/' + ticket.reservation.partie.eq1.drapeau.id}}" width="100"></td>
                    <td></td>
                    <td>
                        <img class="picture" th:src="@{${'/v1/image/display/' + ticket.reservation.partie.eq2.drapeau.id}}" width="100"></td>
                    <td>

                </tr>

                <tr>
                    <th>
                    <span class="ticket-label" >Stadium</span>
                    </th>
                    <td></td>

                    <td>
                        <div class="ticket-value"th:text="${ticket.reservation.partie.stade.nomStade}"></div>
                    </td>


                        </div>
                    </td>

                    <td></td>
                </tr>
                </tbody>
                </table>
                <tr>
                    <th>
                    <span class="ticket-label" >Date Time</span>
                    </th>
                    <td></td>
                    <td class="ticket-value" th:text="${#temporals.format(ticket.reservation.partie.dateTime, 'dd/MM/yyyy HH:mm')}"></td>
                    <td></td>
                </tr>


                <p>
                    <span class="ticket-label">First Name:</span>
                    <span class="ticket-value" th:text="${ticket.reservation.user.prenom}"></span>
                </p>
                <p>
                    <span class="ticket-label">Last Name:</span>
                    <span class="ticket-value" th:text="${ticket.reservation.user.nom}"></span>
                </p>

            </div>
            <p>
                <span class="ticket-label"></span>
                <img th:src="@{${'/qrcode/' + ticket.codeTicket }}" alt="QR Code" />


            </p>
            </div>
            <!--<div class="ticket-footer">
                <form action="#" th:action="@{'/sendTicket/'+${ticket.codeTicket}}" th:object="${ticket}" method="post" class="form">
                    <button type="submit" class="btn btn-primary">Send Ticket Email</button>
                    <a href="/" class="btn btn-secondary">Home Page</a>
                </form>

            </div>
            -->
        </div>
    <form action="#" th:action="@{'/sendTicket/' + ${reservation.codeReservation}}" th:object="${reservation}" method="post" class="form">
        <div class="ticket-footer">
            <button type="submit" class="btn btn-primary">Send Ticket Email</button>
            <a href="/" class="btn btn-secondary">Home Page</a>
        </div>
    </form>
    </div>

</div>
    </form>

</body>
</html>
